body {
	font-family: 'Roboto', sans-serif;
	line-height: 2em;
	text-align: center;

}

@media all and (max-width: 800px) {
 	body{	

 	}

    img {
        width: 100%;
        height: 100%;
    }

    img.fb {
        width: 70%;
    }

    img.class {
        width: 20% !important;
    }

    div {
        width: 100% !important; 
        margin: none;
    }

    .radio-img, .checkbox-img {
    width: 130px !important;
    height: 130px !important;

}

div {
	width: 80%;
	margin: 40px auto;
}

p {
    margin-bottom:.3em;
}

span {
    font-size: 1em;
    letter-spacing: 2px;
    color: #fff;
    padding: 10px 25px; 
    background: #333; 
    border: 0 none;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

input[type="radio"] {
    display: none;
}

input[type="checkbox"] {
    display: none;
}

a {
	font-family: 'Roboto', sans-serif;
	letter-spacing: 1.5px;
	color: #fff;
	padding: 10px 25px; 
	background: #333; 
	border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

a:visited {

}

a.unstyle {
    background: #fff;
}

canvas { 
    display: block; 
    margin: 1em auto; 
    background: #fff; 
    border: 1px solid #ccc 
}


/* Adapted from http://jsfiddle.net/La8wQ/10/ */

.radio-selector input, .checkbox-selector input {
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}

.radio-selector input:active +.radio-img, .checkbox-selector input:active +.checkbox-img {
    opacity: .9;
}

.radio-selector input:checked +.radio-img, .checkbox-selector input:checked +.checkbox-img {
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}

.radio-img, .checkbox-img {
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:150px;height:150px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: opacity(.5);
       -moz-filter: opacity(.5);
            filter: opacity(.5);
}

.radio-img:hover, .checkbox-img:hover {
    -webkit-filter: brightness(1) opacity(.9);
       -moz-filter: brightness(1) opacity(.9);
            filter: brightness(1) opacity(.9);
}

.cappuccino{background-image:url(../images/cappuccino.png);}
.flatwhite{background-image:url(../images/flatwhite.png);}
.hotchoc{background-image:url(../images/hotchoc.png);}
.latte{background-image:url(../images/latte.png);}
.longblack{background-image:url(../images/longblack.png);}
.macchiato{background-image:url(../images/macchiato.png);}
.mochaccino{background-image:url(../images/mochaccino.png);}
.shortblack{background-image:url(../images/shortblack.png);}

.berry{background-image:url(../images/berry.png);}
.breakfast{background-image:url(../images/breakfast.png);}
.cham{background-image:url(../images/cham.png);}
.earl{background-image:url(../images/earl.png);}
.green{background-image:url(../images/green.png);}
.lemon{background-image:url(../images/lemon.png);}
.pepper{background-image:url(../images/pepper.png);}

.orangejuice{background-image:url(../images/orangejuice.png);}
.cranberryjuice{background-image:url(../images/cranberryjuice.png);}
.stillwater{background-image:url(../images/stillwater.png);}
.sparklingwater{background-image:url(../images/sparklingwater.png);}
.coke{background-image:url(../images/coke.png);}
.cokezero{background-image:url(../images/cokezero.png);}
.sprite{background-image:url(../images/sprite.png);}
.lnp{background-image:url(../images/lnp.png);}

.small{background-image:url(../images/small.png);}
.medium{background-image:url(../images/medium.png);}
.large{background-image:url(../images/large.png);}

.shot{background-image:url(../images/shot.png);}
.sugar{background-image:url(../images/sugar.png);}
.soy{background-image:url(../images/soy.png);}
.milk{background-image:url(../images/MILK.jpg);}


.pickup1{background-image:url(../images/pickup1.png);}
.delivery1{background-image:url(../images/delivery1.png);}

.visa1{background-image:url(../images/visa1.png);}
.mastercard1{background-image:url(../images/mastercard1.png);}
.paypal1{background-image:url(../images/paypal1.png);}
.cash1{background-image:url(../images/cash1.png);}

.pickup2{background-image:url(../images/pickup2.png);}
.delivery2{background-image:url(../images/delivery2.png);}

.visa2{background-image:url(../images/visa2.png);}
.mastercard2{background-image:url(../images/mastercard2.png);}
.paypal2{background-image:url(../images/paypal2.png);}
.cash2{background-image:url(../images/cash2.png);}

.pickup3{background-image:url(../images/pickup3.png);}
.delivery3{background-image:url(../images/delivery3.png);}

.visa3{background-image:url(../images/visa3.png);}
.mastercard3{background-image:url(../images/mastercard3.png);}
.paypal3{background-image:url(../images/paypal3.png);}
.cash3{background-image:url(../images/cash3.png);}

/*Tabs overall*/

.nav-tabs li a {
    font-size:20px;
}

.nav-tabs{
  background-color:white;
}

.tab-content{
    background-color:white;
    padding:5px
}

.nav-tabs > li > a{
  border: medium none;
  color:black;
}

.nav-tabs > li > a:hover{
  background-color: #6b9a16!important;
    border: medium none;
    border-radius: 0;
    color:black;
}


/*Tabs on index2*/

#tabbed_box {
    margin: 0px auto 0px auto;
    width: auto;
}

.tabbed_area {
    margin: 0px auto 0px auto;
    border:1px solid #878592;
    background-color:#65646d;
    padding:8px;    
    width: auto;
}

ul.tabs {
    margin:0px; 
    padding:0px;
    margin-top:5px;
    margin-bottom:6px;
}

ul.tabs li {
    list-style:none;
    display:inline;
}

ul.tabs li a {
    background-image:url('images/tab_off.jpg');
    background-repeat:repeat-x;  
    background-position:bottom;
    background-color:#464c54;
    color:#ffebb5;
    padding:8px 14px 8px 14px;
    text-decoration:none;
    font-size:.55em;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-weight:bold;
    text-transform:uppercase;
    border:1px solid #464c54; 
}

ul.tabs li a:hover {
    background-color:#2f343a;
    border-color:#2f343a;
    -webkit-transition: all .2s ease-in-out 0s;
    -moz-transition: all .2s ease-in-out 0s;
    -o-transition: all .2s ease-in-out 0s;
    -ms-transition: all .2s ease-in-out 0s;
    transition: all .2s ease-in-out 0s;
}

ul.tabs li a.active {
    background-image:url('images/tab_on.jpg');
    background-repeat:repeat-x;
    background-position:top; 
    background-color:#ffffff;
    color:#454048;
    border:1px solid #464c54; 
    border-bottom: 1px solid #ffffff;
}

.content {
    background-image:url('images/content_bottom.jpg');
    background-repeat:repeat-x;  
    background-position:bottom; 
    background-color:#ffffff;
    padding:10px;
    border:1px solid #464c54;   
}

#content_2, #content_3 { display:none; }

.content p {
    font-size: .9em;
    color: #333;
    line-height: 1.2em;
    padding-left: 8px;
    padding-right: 8px;
}

.content ul {
    margin:0px;
    padding:0px 20px 0px 20px;
}

.content ul li {
    list-style:none;
    border-bottom:1px solid #d6dde0;
    padding-top:15px;
    padding-bottom:15px;
    font-size:13px;
}

.content ul li a {
    text-decoration:none;
    color:#3e4346;
}

.content ul li a small {
    color:#8b959c;
    font-size:9px;
    text-transform:uppercase;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    position:relative;
    left:4px;
    top:0px;
}

.content ul li a:hover {
    color: #79737d;
    -webkit-transition: all .2s ease-in-out 0s;
    -moz-transition: all .2s ease-in-out 0s;
    -o-transition: all .2s ease-in-out 0s;
    -ms-transition: all .2s ease-in-out 0s;
    transition: all .2s ease-in-out 0s;
}

.content ul li:last-child {
    border-bottom:none;
}